#
# fabfile.ini
#


[DEFAULT]

# storage_dir is storing files(e.g. logs, packages of chef).[absolute
# path or relative path from chef-repo] (string value)
#storage_dir = storage

# databag dir (string value)
#databag_dir = databag

# node dir (string value)
#node_dir = nodes

# fabscript_module is module including user's scripts of fabric.This
# module must be placed in the repository. (string value)
#fabscript_module = fabscript

# fablib_module is module including library of user or vendor for
# fabscript.This module must be placed in the repository. (string
# value)
#fablib_module = fablib

# fablib_module is module including library of user or vendor for
# fabscript.This module must be placed in the repository. (dict value)
#fablib =

# Merge style of cluster vars. (nested or update) (string value)
#dict_merge_style = nested

# Max number of clusters save. (integer value)
#max_recent_clusters = 3

# Interval for retry. (integer value)
#retry_interval = 3

# remote_dir is storing files on remote node.this directry is created
# home directry. (string value)
#remote_dir = fabkit

# user (string value)
#user = <None>

# password (string value)
#password = <None>

# password_file (string value)
#password_file = <None>

# If set to true, the logging level will be set to DEBUG instead of
# the default INFO level. (boolean value)
#debug = false

# If set to false, the logging level will be set to WARNING instead of
# the default INFO level. (boolean value)
# This option is deprecated for removal.
# Its value may be silently ignored in the future.
#verbose = true

# The name of a logging configuration file. This file is appended to
# any existing logging configuration files. For details about logging
# configuration files, see the Python logging module documentation.
# Note that when logging configuration files are used then all logging
# configuration is set in the configuration file and other logging
# configuration options are ignored (for example,
# logging_context_format_string). (string value)
# Deprecated group/name - [DEFAULT]/log_config
#log_config_append = <None>

# Defines the format string for %%(asctime)s in log records. Default:
# %(default)s . This option is ignored if log_config_append is set.
# (string value)
#log_date_format = %Y-%m-%d %H:%M:%S

# (Optional) Name of log file to send logging output to. If no default
# is set, logging will go to stderr as defined by use_stderr. This
# option is ignored if log_config_append is set. (string value)
# Deprecated group/name - [DEFAULT]/logfile
#log_file = <None>

# (Optional) The base directory used for relative log_file  paths.
# This option is ignored if log_config_append is set. (string value)
# Deprecated group/name - [DEFAULT]/logdir
#log_dir = <None>

# Uses logging handler designed to watch file system. When log file is
# moved or removed this handler will open a new log file with
# specified path instantaneously. It makes sense only if log_file
# option is specified and Linux platform is used. This option is
# ignored if log_config_append is set. (boolean value)
#watch_log_file = false

# Use syslog for logging. Existing syslog format is DEPRECATED and
# will be changed later to honor RFC5424. This option is ignored if
# log_config_append is set. (boolean value)
#use_syslog = false

# Syslog facility to receive log lines. This option is ignored if
# log_config_append is set. (string value)
#syslog_log_facility = LOG_USER


[client]

# host (string value)
#host = <None>

# clusters (list value)
#clusters =

# task_patterns (list value)
#task_patterns = local.*,check.*


[keystone]

# os_auth_url (string value)
#os_auth_url = http://localhost:5000/v2.0

# os_tenant_name (string value)
#os_tenant_name = myfabkit

# os_username (string value)
#os_username = myfabkit

# os_password (string value)
#os_password = mypassword


[logger]

# log level(debug, info, warning, error, critical) (string value)
#level = info

# format of log message (string value)
#format = %(asctime)s - %(name)s - %(levelname)s - %(message)s

# log level(debug, info, warning, error, critical) for console output
# (string value)
#console_level = info

# format of log message for console output (string value)
#console_format = [%(name)s] %(levelname)s: %(message)s

# max bytes of log file (all.log, error.log) (integer value)
#max_bytes = 20000

# backup count of log file (all.log, error.log) (integer value)
#backup_count = 2


[node_logger]

# max bytes of node log file ([hostname].log) (integer value)
#max_bytes = 10000

# backup count of node log file ([hostname].log) (integer value)
#backup_count = 0


[oslo_messaging_rabbit]

# Use durable queues in AMQP. (boolean value)
# Deprecated group/name - [DEFAULT]/amqp_durable_queues
# Deprecated group/name - [DEFAULT]/rabbit_durable_queues
#amqp_durable_queues = false

# Auto-delete queues in AMQP. (boolean value)
# Deprecated group/name - [DEFAULT]/amqp_auto_delete
#amqp_auto_delete = false

# SSL version to use (valid only if SSL enabled). Valid values are
# TLSv1 and SSLv23. SSLv2, SSLv3, TLSv1_1, and TLSv1_2 may be
# available on some distributions. (string value)
# Deprecated group/name - [DEFAULT]/kombu_ssl_version
#kombu_ssl_version =

# SSL key file (valid only if SSL enabled). (string value)
# Deprecated group/name - [DEFAULT]/kombu_ssl_keyfile
#kombu_ssl_keyfile =

# SSL cert file (valid only if SSL enabled). (string value)
# Deprecated group/name - [DEFAULT]/kombu_ssl_certfile
#kombu_ssl_certfile =

# SSL certification authority file (valid only if SSL enabled).
# (string value)
# Deprecated group/name - [DEFAULT]/kombu_ssl_ca_certs
#kombu_ssl_ca_certs =

# How long to wait before reconnecting in response to an AMQP consumer
# cancel notification. (floating point value)
# Deprecated group/name - [DEFAULT]/kombu_reconnect_delay
#kombu_reconnect_delay = 1.0

# How long to wait a missing client beforce abandoning to send it its
# replies. This value should not be longer than rpc_response_timeout.
# (integer value)
# Deprecated group/name - [DEFAULT]/kombu_reconnect_timeout
#kombu_missing_consumer_retry_timeout = 60

# Determines how the next RabbitMQ node is chosen in case the one we
# are currently connected to becomes unavailable. Takes effect only if
# more than one RabbitMQ node is provided in config. (string value)
# Allowed values: round-robin, shuffle
#kombu_failover_strategy = round-robin

# The RabbitMQ broker address where a single node is used. (string
# value)
# Deprecated group/name - [DEFAULT]/rabbit_host
#rabbit_host = localhost

# The RabbitMQ broker port where a single node is used. (port value)
# Minimum value: 0
# Maximum value: 65535
# Deprecated group/name - [DEFAULT]/rabbit_port
#rabbit_port = 5672

# RabbitMQ HA cluster host:port pairs. (list value)
# Deprecated group/name - [DEFAULT]/rabbit_hosts
#rabbit_hosts = $rabbit_host:$rabbit_port

# Connect over SSL for RabbitMQ. (boolean value)
# Deprecated group/name - [DEFAULT]/rabbit_use_ssl
#rabbit_use_ssl = false

# The RabbitMQ userid. (string value)
# Deprecated group/name - [DEFAULT]/rabbit_userid
#rabbit_userid = guest

# The RabbitMQ password. (string value)
# Deprecated group/name - [DEFAULT]/rabbit_password
#rabbit_password = guest

# The RabbitMQ login method. (string value)
# Deprecated group/name - [DEFAULT]/rabbit_login_method
#rabbit_login_method = AMQPLAIN

# The RabbitMQ virtual host. (string value)
# Deprecated group/name - [DEFAULT]/rabbit_virtual_host
#rabbit_virtual_host = /

# How frequently to retry connecting with RabbitMQ. (integer value)
#rabbit_retry_interval = 1

# How long to backoff for between retries when connecting to RabbitMQ.
# (integer value)
# Deprecated group/name - [DEFAULT]/rabbit_retry_backoff
#rabbit_retry_backoff = 2

# Maximum number of RabbitMQ connection retries. Default is 0
# (infinite retry count). (integer value)
# Deprecated group/name - [DEFAULT]/rabbit_max_retries
#rabbit_max_retries = 0

# Use HA queues in RabbitMQ (x-ha-policy: all). If you change this
# option, you must wipe the RabbitMQ database. (boolean value)
# Deprecated group/name - [DEFAULT]/rabbit_ha_queues
#rabbit_ha_queues = false

# Number of seconds after which the Rabbit broker is considered down
# if heartbeat's keep-alive fails (0 disable the heartbeat).
# EXPERIMENTAL (integer value)
#heartbeat_timeout_threshold = 60

# How often times during the heartbeat_timeout_threshold we check the
# heartbeat. (integer value)
#heartbeat_rate = 2

# Deprecated, use rpc_backend=kombu+memory or rpc_backend=fake
# (boolean value)
# Deprecated group/name - [DEFAULT]/fake_rabbit
#fake_rabbit = false


[web]

# Hostname of webserver. (string value)
#hostname = localhost

# Port of webserver. (integer value)
#port = 8080

# Wheter to use HTTPS (boolean value)
#is_https = false

# Debug (boolean value)
#debug = true

# SECRET_KEY of Django (string value)
#secret_key = CHANGE_ME

# LANGUAGE_CODE of Django (string value)
#language_code = ja

# TIME_ZONE of Django (string value)
#time_zone = Asia/Tokyo

# nodes of Nodejs.
# nodes = http://localhost:4000, http://localhost:4001 (list value)
#nodes =


[test]

# user for test (string value)
#user = fabric

# password for test (string value)
#password = fabric

# clusters for test (list value)
#clusters = centos7/,ubuntu14/

# fablib for test (dict value)
#fablib =
